@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}



@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) {
            
        }
    }
}