.navigation {
    &__checkbox {

    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-green-light, $color-green-dark);
        z-index: 1000;
    }

    &__button {

    }

    &__nav {

    }

    &__list {

    }

    &__item {

    }

    &__link {

    }
}