.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
        border-radius: 2px;
        position: absolute;
        transition: all .3s;
        outline-offset: 0;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            left: 40%;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-green;
            transform: scale(1.30) translateY(-2rem);
            box-shadow: 0 2.4rem 4rem rgba(0, 0, 0, .5);
            z-index: 20;
            outline-offset: 1rem;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.90);
        opacity: 0.8;
    }
}